.bundle
vendor
.rake_test_cache
id_rsa
secret_file
bootstrap_chef.id_rsa*
.*.sw*
*~
.chef_found*/
python_server.log
.chef/
vbox/**
bins/
cookbooks/*/coverage
cookbooks/*/vendor
cookbooks/bcpc/attributes/repos.rb
cluster.tgz
src/
