.rake_test_cache
.chef/
id_rsa
secret_file
cookbooks/apt/
cookbooks/build-essential/
cookbooks/chef-client/
cookbooks/dpkg_autostart/
cookbooks/cron/
cookbooks/logrotate/
cookbooks/ntp/
cookbooks/python/
cookbooks/sysctl/
cookbooks/ubuntu/
cookbooks/yum/
cookbooks/yum-epel/
environments/*
python_server.log
bins/
bootstrap_chef.id_rsa*
.chef_found*/
.*.sw*
*~
